<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friday</title>
</head>
<div style="text-align: center;">
    <body>
    <div class="tenor-gif-embed" data-postid="15077323" data-share-method="host" data-aspect-ratio="1.77778"
         data-width="100%"><a href="https://tenor.com/view/cheers-leonardo-dicaprio-celebrate-gif-15077323">Cheers
        Leonardo Dicaprio GIF</a>from <a href="https://tenor.com/search/cheers-gifs">Cheers GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    <br>
    <br>
    <h1>Congratulations you truly deserve a glass of Champagne</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <audio controls autoplay>
        <source src="friday.mp3" type="audio/mpeg">
    </audio>
    </body>
</div>
</html>